body {
    margin: 0;
}

nav {
    display: flex;
    padding: 0px 6px;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f6f6;
}

nav a {
    color: #0b59ce;
}

nav .material-icons-outlined {
    font-size: xx-large;
}

.logo {
    text-decoration: none;
    font-family: 'Aguafina Script', cursive;
}